.getData {
  background-color: #1c734b;
  padding: 5 30;
}

.scan {
  background-color: #0a4e85;
  padding: 5 30;
}

.setData {
  background-color: #804e10;
  padding: 5 30;
}

.list-group-item {
  font-size: 20;
  color: #252323
}

.foundIndicator {
  border-radius: 20;
  height: 40;
  width: 40;
  background-color: red;
}
.founded {
  background-color: green;
}
